@import url(./reset.css);

.container {
	position: relative;
	overflow: hidden;
}

.brand_story_wrap {
	width: 100%;
	height: 100vh;
	display: flex;
}
.brand_story_wrap {
	opacity: 0;
	animation: opacity 2s;
	animation-fill-mode: both;
}
@keyframes opacity {
	100% {
		opacity: 1;
	}
}
@keyframes move {
	0% {
		transform: translateX(10%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.brand_story_left {
	width: 50%;
	height: 100%;
	opacity: 1;
}
.brand_story_right {
	width: 50%;
	height: 100%;
	padding-left: 6%;
	padding-top: 10%;
	overflow: hidden;
}
.brand_story_wrap .brand_story_left {
	background: url("../img/brandstory/c-brandstory-img1.png") no-repeat center;
	background-size: cover;
}
.brand_slogan_wrap {
	width: 100%;
	height: 100vh;
	display: flex;
}

.brand_slogan_wrap .brand_story_left {
	background: url("../img/brandstory/c-brandstory-img2.png") no-repeat center;
	background-size: cover;
}
.brand_story_titlewrap {
	letter-spacing: 0.3px;
}
.brand_story_titlewrap p {
	position: relative;
}
.brand_story_subtitle {
	opacity: 0;
	font-size: 48px;
	font-weight: 700;
	margin-top: 7%;
}
.brand_story_title {
	opacity: 0;
	font-size: 65px;
	font-weight: 700;
	margin-top: 7%;
}
.brand_story_txtwrap {
	margin-top: 5%;
	opacity: 0;
}
.brand_story_wrap .brand_story_title {
	animation: move 2s;
	animation-fill-mode: both;
}
.brand_story_wrap .brand_story_subtitle {
	animation: move 2s 0.5s;
	animation-fill-mode: both;
}
.brand_story_wrap .brand_story_txtwrap {
	animation: opacity 2s 1s;
	animation-fill-mode: both;
}
/* .brand_story_title.move-in {
	animation: move 2s;
	animation-fill-mode: both;
}
.brand_story_subtitle.move-in {
	animation: move 2s 0.5s;
	animation-fill-mode: both;
}
.brand_story_txtwrap.move-in {
	animation: opacity 2s 1s;
	animation-fill-mode: both;
} */
.brand_story_txtwrap p {
	font-size: 18px;
	font-weight: 400;
	color: #ff4713;
	line-height: 27px;
	margin-top: 5%;
	word-break: keep-all;
}
.brand_story_txtwrap p:first-child {
	margin-top: 0;
}
.brand_story_videowrap {
	width: 1280px;
	margin: 0 auto;
	margin-top: 230px;
	display: flex;
	align-items: center;
}
.fade-in {
	opacity: 0;
	transition: all 0.5s;
}
.fade-in.move-in {
	opacity: 1;
}

@media (max-width: 1760px) {
	.brand_competi_listdots {
		right: 4%;
	}
}
@media (max-width: 1400px) {
	.mobile_br {
		display: block;
	}
}

@media (max-width: 1300px) {
	/* .brand_story_right {
      /* padding-left: 5%; */
	/* padding-top: 0; */
}
*/
    /* .brand_story_title {
      font-size: 43px;
    } */
    .brand_story_subtitle {
	font-size: 33px;
}
.brand_story_txtwrap p {
	font-size: 16px;
}
.brand_story_videowrap {
	width: 92%;
	/* padding: 0 4%; */
	margin: 0 auto;
	padding-top: 230px;
}
.brand_story_videowrap {
	margin-top: 0px;
}

@media (max-width: 1280px) {
}
@media (max-width: 820px) {
	.brand_story_wrap {
		display: block;
	}
	.brand_story_left {
		width: 100%;
		height: 50vh;
	}
	.brand_story_right {
		width: 100%;
		height: 50vh;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding-top: 0;
	}
	.brand_slogan_wrap {
		display: block;
	}
	.brand_story_title {
		font-size: 30px;
	}

	.brand_story_titlewrap {
		width: 50%;
		/* height: 100%; */
	}
	.brand_story_txtwrap {
		width: 50%;
		/* height: 100%; */
	}
	.brand_story_subtitle {
		font-size: 24px;
		margin-top: 0;
		/* 수정됨 */
		/* margin-top: 20px; */
	}
	.brand_story_txtwrap {
		margin-top: 0;
	}
	.brand_story_txtwrap p {
		font-size: 14px;
		margin-top: 3%;
	}
	.brand_story_txtwrap p:first-child {
		margin-top: 0;
	}
	.brand_story_videowrap {
		padding-top: 100px;
	}
	.brand_story_video {
		height: 480px;
	}
}

@media (max-width: 650px) {
	.brand_story_left {
		height: 40vh;
	}
	.brand_story_right {
		width: 100%;
		height: 60vh;
		/* display: flex; */
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 4%;
		text-align: center;
	}
	.brand_story_titlewrap {
		width: 100%;
		line-height: 30px;
		/* height: 100%; */
	}
	.brand_story_txtwrap {
		width: 100%;
		/* height: 100%; */
		margin-top: 4%;
	}
	.brand_story_subtitle {
		font-size: 20px;
		/* 수정됨 */
		margin-top: 0;
	}
	.brand_story_txtwrap p {
		/* font-size: 12px; */
		line-height: 22px;
	}
	/* .brand_story_txtwrap{
          width: 100%;
      } */
	.brand_story_videowrap {
		height: 480px;
		padding-top: 20px;
	}
	.brand_story_video {
		height: 360px;
	}
	.container_inner {
		/* padding-top: 80px; */
		padding-bottom: 60px;
	}
	.mobile_br {
		display: block;
	}
	/* .brand_competi_listdots{
          display: none;
      } */
}

@media (max-width: 1024px) {
	.c-video {
		height: 550px;
	}
}
@media (max-width: 700px) {
	.c-video {
		height: 365px;
	}
}
@media (max-width: 500px) {
	.c-video {
		height: 260px;
	}
}
