@font-face {
  font-family: "SF400";
  src: url(./font/SFUIDisplay/Display-normal-400-100.ttf);
}
@font-face {
  font-family: "SF700";
  src: url(./font/SFUIDisplay/Display-normal-700-100.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font: 500 10px/1 "Noto Sans KR", sans-serif;
  color: #ff4713;
  letter-spacing: -2px;
}

/*수상내역*/
.container {
  position: relative;
}

.brand_history_inner {
  padding-top: 180px;
  padding-bottom: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.history_head {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.history_head span {
  font-size: 65px;
  font-weight: bold;
  line-height: 100px;
  color: #ff4713;
}
.history_head div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 120px;
}

.history_head > div > a:first-child {
  margin-right: 45px;
  color: #ffbeac;
  border-top: 1px solid #ffbeac;
}

.history_head > div > a {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #ff4713;
  z-index: 9;
  padding-top: 5px;
  border-top: 1px solid #ff4713;
}
