/*주요연혁*/

.container {
  position: relative;
}

.brand_history_inner {
  padding-top: 180px;
  padding-bottom: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.history_head {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.history_head span {
  font-size: 65px;
  font-weight: bold;
  line-height: 100px;
  color: #ff4713;
}
.history_head div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 120px;
}

.history_head > div > a:first-child {
  margin-right: 45px;
}
.history_head > div > a:last-child {
  color: #ffbeac;
  border-top: 1px solid #ffbeac;
}

.history_head > div > a {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #ff4713;
  z-index: 9;
  padding-top: 5px;
  border-top: 1px solid #ff4713;
}

.history_work_fixframe {
  width: 100%;
  position: absolute;
  top: 620px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  padding: 0;
  opacity: 0;
}

.year_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0.7;
}
.year_front {
  font-size: 250px;
  font-weight: 500;
  color: #ff4713;
  margin-right: 800px;
}

.history_work_first {
  width: 50%;
  margin-right: 31%;
}

.history_work_unfixed_2022 {
  position: absolute;
  position: fixed;
  top: 50%;
  left: 14%;
  font-size: 240px;
  font-weight: 600;
  color: #ff4713;
  line-height: 0.7;
}

.year_back_box {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-left: 740px;
}
.work {
  width: 800px;
}
.work_list {
  display: flex;
  margin-bottom: 50px;
}

.work_list_month {
  font-size: 30px;
  font-weight: 500;
  margin-right: 100px;
  color: #ff4713;
  white-space: nowrap;
  line-height: 36px;
}
.work_list_text {
  display: block;
  font-size: 21px;
  line-height: 36px;
  color: #ff4713;
  word-break: keep-all;
}

.bottom_border {
  width: 800px;
  position: absolute;
  left: 48%;
  bottom: 0;
  height: 1px;
  background: #dfdfe0;
  z-index: 0;
}

.history_work {
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 65px;
  padding-left: 178px;
  padding-bottom: 85px;
}
.history_work:last-child {
  border-bottom: none;
}
.history_work_mobile {
  font-size: 250px;
  font-weight: 500;
  color: #ff4713;
  display: none;
}
