@media screen and (min-width: 1221px) {
	.store_search {
		min-width: 1200px;
	}
	.store_search_left {
		width: 600px;
		height: 450px;
	}
	.store_search_right {
		width: 600px;
		height: 450px;
	}
	.store_info {
		min-width: 1200px;
	}
}
@media screen and (max-width: 1220px) {
	#store_wrap {
		padding: 0 5%;
	}
	.store_search {
		width: 100%;
	}
	.store_search_left {
		width: 50%;
		height: 450px;
	}
	.store_search_right {
		width: 50%;
		height: 450px;
	}
	.store_info {
		width: 100%;
	}
}
@media screen and (max-width: 1200px) {
	.title_inner h1 {
		text-align: center;
	}
}
@media screen and (max-width: 1024px) {
	tbody .store_srv {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
}
@media screen and (max-width: 900px) {
	.store_search {
		width: 100%;
		height: auto;
		border: none !important;
	}
	.store_search_inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.store_search_left {
		width: 600px;
		float: none !important;
		border-top: 1px solid #dfdfe0;
	}
	.store_search_right {
		width: 600px;
		float: none !important;
		border-bottom: 1px solid #dfdfe0;
	}
}
@media screen and (max-width: 770px) {
	.store_info table td {
		font-size: 12px;
	}
}
@media screen and (max-width: 600px) {
	.store_search_left {
		width: 100%;
	}
	.store_search_right {
		width: 100%;
	}
	.store_info {
		padding: 30px 5%;
		overflow: hidden;
	}
	.store_info table {
		min-width: 800px;
	}
}
@media screen and (max-width: 500px) {
	.store_search_left {
		height: 400px;
	}
	.store_search_right {
		height: 400px;
	}
}
.store_search_left span {
	scale: 89%;
}
