/*footer popup*/

.pop_up_wrap_privacyUseInfo_hidden {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}

.footer_pop_up {
  display: block;
  display: none;
  position: relative;
  width: 522px;
  height: 675px;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #212121;
  padding: 30px 0;
}
.block {
  display: block;
}

.footer_popup_close_btn::after {
  position: absolute;
  top: 0;
  right: 20px;
  content: "\00d7";
  font-size: 40px;
  font-weight: lighter;
  cursor: pointer;
}

.footer_popup_title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #ff4713;
}
.footer_popup_title_lead {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ff4713;
  margin-top: 10px;
}

.privacy_txt {
  width: 88%;
  height: 526px;
  margin: 0 auto;
  margin-top: 40px;
  border: solid 1px #fbb19a;
  border-radius: 5px;
  padding: 20px;
  word-break: keep-all;
  font-size: 14px;
  color: #ff4713;
  line-height: 22px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.privacy_txt::-webkit-scrollbar {
  width: 5px;
}
.privacy_txt::-webkit-scrollbar-thumb {
  background-color: #ff4713;
  height: 10px;
  border-radius: 2.5px;
}
.privacy_txt::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.privacy_txt_head {
  font-size: 16px;
  font-weight: 700;
  padding-top: 25px;
  display: block;
  margin: 15px 0;
}
.privacy_txt_head:first-child {
  padding-top: 0;
  margin-top: 0;
}

/*footer_totop*/

.footer_totop {
  z-index: 999;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 38%;
  right: 6%;
}
.totop_btn {
  width: 50px;
  height: 80px;
  position: relative;
  margin: 15px 25px;
  cursor: pointer;
}
.totop_btn_circle {
  width: 50px;
}
.totop_btn_arrow {
  position: absolute;
  width: 30px;
  left: 20%;
  top: 15%;
}
.footer_totop span {
  position: absolute;
  bottom: 13%;
  left: 38%;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

/*footer*/
#footer {
  position: absolute;
  bottom: 0;
}

#footer > .footer_inner {
  color: white;
  width: 100%;
  background: #ff4713;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer {
  width: 100%;
  background: #ff4713;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer > .footer_inner {
  color: white;
}

.footer_logo {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.footer_logo img {
  cursor: pointer;
}

.footer_link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer_link a {
  margin: 0 36px;
}

.footer_list {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.footer_list li {
  margin: 0 20px;
}

.footer_list li a {
  color: #fff;
  font-weight: 500;
}

.footer_list li:hover {
  cursor: pointer;
}

.footer_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.footer_info > div {
  display: flex;
  align-items: center;
}

.footer_info > div > div {
  display: flex;
  align-items: center;
}

.footer_info span {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
  margin: 0 10px;
  word-break: keep-all;
}

.info_devide_bar {
  width: 1px;
  height: 13px;
  background-color: white;
  margin-top: 2px;
  opacity: 0.2;
}

.footer_copy {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 65px;
}

.footer_copy > span {
  font-size: 12px;
  font-family: var(--font-proxima);
  line-height: 26px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.footer-mobile_br {
  display: none;
}

/*미디어 쿼리*/

@media (max-width: 940px) {
  .footer > .footer_inner {
    width: 90%;
  }
  .footer_logo {
    justify-content: start;
  }
  .footer_link {
    justify-content: start;
  }
  .footer_list {
    justify-content: start;
  }
  .footer_info {
    width: 100%;
    text-align: center;
  }

  .info_devide_bar {
    margin: 1px 5px 0 5px;
  }

  .footer_info > div > div {
    justify-content: center;
    align-items: unset;
  }

  .footer_link a {
    margin: 0;
  }

  .footer_link a:nth-child(2) {
    margin: 0 36px;
  }

  .footer_list li {
    margin: 0;
    margin-right: 20px;
  }

  .footer_info > div {
    width: 470px;
    flex-direction: column;
    align-items: unset;
  }

  .footer_info > div:first-child {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer_info span {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
  }

  .footer_info > div:first-child span:last-child {
    margin-bottom: 0;
  }

  .footer_info > div:last-child span:last-child {
    margin-bottom: 0;
  }

  .info_devide_bar_remove {
    display: none !important;
  }
}
@media (max-width: 540px) {
  .footer_pop_up {
    height: 500px;
    overflow: hidden;
  }

  .privacy_txt {
    height: 340px;
  }
  .footer_logo {
    height: 44px;
    margin: 24px 0;
  }

  .footer_link {
    margin-bottom: 36px;
  }

  .footer_link a {
    margin: 0 18px;
  }

  .footer_list {
    font-size: 14px;
  }

  .footer_list li {
    margin: 0 8px;
  }

  .footer_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .footer_info > div:first-child {
    width: 100%;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5px;
  }

  .footer_info span {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0px;
    margin: 5px 0;
    text-align: center;
  }

  .footer_info > div {
    flex-direction: column;
    width: 100%;
  }

  .info-devide__bar {
    margin: 7px 10px 0 10px;
    height: 11px;
  }

  .footer_copy {
    margin-top: 15px;
    margin-bottom: 45px;
  }
  .footer_totop {
    top: 56%;
    right: 6%;
  }
}
