@font-face {
  font-family: "SF400";
  src: url(./font/SFUIDisplay/Display-normal-400-100.ttf);
}
@font-face {
  font-family: "SF700";
  src: url(./font/SFUIDisplay/Display-normal-700-100.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font: 500 10px/1 "Noto Sans KR", sans-serif;
  color: #ff4713;
  letter-spacing: -2px;
}

/*수상내역*/
.container {
  position: relative;
}

.brand_history_inner {
  padding-top: 180px;
  padding-bottom: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.history_head {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.history_head span {
  font-size: 65px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: -1px;
  color: #ff4713;
}
.history_head div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 120px;
}

.history_head > div > a:first-child {
  margin-right: 45px;
  color: #ffbeac;
  border-top: 1px solid #ffbeac;
}

.history_head > div > a {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #ff4713;
  z-index: 9;
  padding-top: 5px;
  border-top: 1px solid #ff4713;
}

/*수상내역*/




.awards_best {
  width: 100%;
  display: flex;
  gap: 35px;
}

.awards_best span {
  width: 340px;
  height: 340px;
  text-align: center;
  display: flex;
  flex-direction: column;

  border: 1px solid #dfdfdf; }

  .awards_best span div img {
    width: 170px;
    margin-top: 33px;
  }
  .awards_best span div h1 {
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 45px;

  }
  
  .awards_list_wrap {
    width: 100%;
    height: 100%;
    margin-top: 80px;
  }
  .awards_list {
    border-top:1px solid  #dfdfdf;
    display: flex;
  }
  .awards_list:last-child {
    border-bottom:1px solid  #dfdfdf;
  }

  .awards_list_img {
    padding: 40px 0;
    display: flex;
    font-weight: 600;
    color: #ff8c6c;
    margin-top: 15px;
  }
  .awards_list_tit {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
  .awards_list_tit span:nth-child(1) {
    font-size: 25px;
    font-weight: 600;
    margin-top: 55px;
  }
  .awards_list_tit span:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    color: #ff8c6c;
  }
  .awards_list_tit span:nth-child(3) {
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
  }
  .awards_list_mark {
    width: 100px;
    height: 30px;
    background: #ff4713;
    color: #ffffff;
    text-align: center;
   line-height: 30px;
   font-size: 16px;
   font-weight: 600;
    position: absolute;
    right: 21%;
  }

  .awards_list_page {
    width: 160px;
    margin: 60px auto ;
    display: flex;
    gap: 2px;
  }
  .awards_list_page span {
    width: 100%;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
  
  }
  .awards_list_page span:first-child {
    background: #ff4713;
    color: #fff;
  }