@import url(./reset.css);
@import url(./mediaquery.css);

#container {
	margin: 0 auto;
	padding-top: 120px;
}
#container_inner {
	margin: 0 auto;
}

/* title */
.title {
	margin-bottom: 45px;
}

/* youtube */
.youtube {
	width: 100%;
}
.youtube_inner {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
}
iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* content */

.content_inner {
	width: 100%;
}
.content_inner_img {
	height: 75%;
}
.content_inner_img img {
	width: 100%;
	height: auto;
}
.content_inner_detail {
	height: 25%;
}
.content_inner_detail h2 {
	padding-top: 7%;
	font-weight: bold;
}
.content_inner_detail p {
	padding-top: 4%;
	font-weight: 400;
}
.content:last-child {
	padding-bottom: 217px;
}
